BIRDEYE_API_KEY=your_birdeye_api_key_here
BOT_TOKEN=your_telegram_bot_token
CHANNEL_ID=-1003743722962
Dashboard_channel_id=-1003502670290
Smart_money_channel_id=-1003627676906

SERVER_ADDRESS=SP2EXAMPLEADDRESS...
CLIENT_PRIVATE_KEY=your_private_key_from_wallet
MASTER_SEED="your seed phrase here"
MASTER_PASSWORD=changeme
CLEAN_GEM_FEE_STX=0.0001
NEXT_PUBLIC_CLIENT_PRIVATE_KEY=your_private_key_if_you_want_auto_unlock
